.contact-page {
	.showcase-section {
		position: relative;
		.img {
			position: relative;
			height: 80vh;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.intro {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
	}

	.contact-section {
		background-color: $grey_color;
		color: $black_color;
		padding: 5rem 0;

		.content {
			.head {
				text-align: center;

				p {
					margin: 2rem 0;
				}
			}

			.boxes {
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-wrap: wrap;
				gap: 2rem;
				.box {
					max-width: 350px;
					padding: 1rem;
					width: 100%;
					min-height: 300px;
					border: 2px solid $primary_color;

					h4 {
						font-size: 1.5rem;
						margin-top: 2rem;
					}

					h5 {
						margin-top: 1rem;
					}
				}
			}
			// display: flex;
			// align-items: flex-start;
			// justify-content: space-between;
			// gap: 2rem;
			// flex-wrap: wrap;
			padding: 1rem 0;

			.img {
				width: 350px;
				height: 350px;

				img {
					height: 100%;
					object-fit: cover;
				}
			}

			.about {
				flex: 2;
				padding: 0 2rem;

				p {
					margin: 2rem 0;
				}
			}
		}
	}
}
