@media (max-width: 1080px) {
	.container {
		width: 88%;
	}

	body {
		font-size: 14px;
	}

	h1 {
		font-size: 4.5rem;
	}

	h2 {
		font-size: 3.5rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: 0.5rem;
	}

	.btn {
		padding: 0.6rem 1.2rem;
		font-size: 0.8rem;
	}

	header {
		.header-container {
			.left {
				.logo {
					h4 {
						font-size: 2rem;
					}
				}

				.links {
					margin-left: 1.5rem;
					a {
						margin: 0 0.3rem;
					}
				}
			}
		}
	}

	.contact-page {
		.contact-section {
			.content {
				.boxes {
					.box {
						min-height: 270px;
					}
				}
			}
		}
	}

	.about-page {
		.about-content-section {
			.content {
				gap: 1rem;

				.img {
					width: 270px;
					height: 270px;
				}

				.about {
					padding: 0 1.5rem;
				}
			}
		}
	}

	.services-page {
		.products-section {
			.products {
				.product-box {
					width: 270px;
					height: 270px;
				}
			}
		}
	}
}

@media (max-width: 880px) {
	.container {
		width: 90%;
	}

	body {
		font-size: 13px;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: 0.5rem;
	}

	.home-page {
		// Product section
		.products-section {
			.products {
				.product-box {
					width: 150px;
					height: 150px;
				}
			}
		}

		.small-showcase-section {
			.box {
				width: 50%;
			}
		}

		.customer-reviews-section {
			.customer-reviews {
				.review {
					.img {
						height: 140px;
						width: 140px;
					}
				}
			}
		}
	}

	.about-page {
		.about-content-section {
			.content {
				.img {
					width: 240px;
					height: 240px;
				}

				.about {
					padding: 0 1rem;
				}
			}
		}
	}

	.services-page {
		.products-section {
			.products {
				.product-box {
					width: 240px;
					height: 240px;
				}
			}
		}
	}

	.contact-page {
		.showcase-section {
			position: relative;
			.img {
				position: relative;
				height: 80vh;

				img {
					height: 100%;
					object-fit: cover;
				}
			}

			.intro {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
			}
		}

		.contact-section {
			.content {
				.head {
					p {
						margin: 1.5rem 0;
					}
				}

				.boxes {
					gap: 1.5rem;
					.box {
						max-width: 300px;

						min-height: 250px;

						h4 {
							font-size: 1.3rem;
							margin-top: 1.5rem;
						}

						h5 {
							margin-top: 0.7rem;
							font-size: 0.8rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 680px) {
	.container {
		width: 90%;
	}

	body {
		font-size: 13px;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.8rem;
	}

	h6 {
		font-size: 0.5rem;
	}

	.home-page {
		.showcase-section {
			.container {
				width: 99%;

				h3 {
					font-size: 2rem;
				}

				h1 {
					margin: 1rem 0;
				}

				p {
					font-size: 13px;
					width: 95%;
				}
			}
		}
		// Product section
		.products-section {
			.products {
				.product-box {
					width: 120px;
					height: 120px;
				}
			}
		}
	}

	.about-page {
		.about-content-section {
			.content {
				.img {
					width: 200px;
					height: 200px;
				}
			}
		}
	}

	.services-page {
		.products-section {
			.products {
				.product-box {
					width: 200px;
					height: 200px;
				}
			}
		}
	}

	.contact-page {
		.contact-section {
			.content {
				.boxes {
					gap: 1.5rem;
					.box {
						max-width: 250px;

						h4 {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.container {
		width: 95%;
	}

	body {
		font-size: 12px;
	}

	h1 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	header {
		padding: 1rem 0;

		.header-container {
			width: 90%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;

			.left {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;
				width: 100%;
				margin-bottom: 1rem;

				.text-primary:hover {
					color: $dark_color;
					@include easeOut();
				}

				.logo {
					line-height: 1;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: flex-end;
					margin-bottom: 0.5rem;

					h5 {
						font-size: 1.5rem;
						margin-left: 0.5rem;
						color: $black_color;
						font-style: italic;
					}
				}

				.links {
					margin-left: 0rem;
					display: flex;
					align-items: center;
					justify-content: space-around;
					width: 100%;
					margin-top: 0.5rem;
				}
			}
		}
	}

	.home-page {
		.showcase-section {
			.img {
				height: 60vh;
			}

			.container {
				width: 99%;

				h3 {
					font-size: 1.5rem;
				}

				h1 {
					margin: 1rem 0;
				}

				p {
					font-size: 12px;
				}
			}
		}
		// Product section
		.products-section {
			.products {
				.product-box {
					width: 120px;
					height: 120px;
				}
			}
		}

		.small-showcase-section {
			.img {
				height: 50vh;
			}

			.box {
				width: 90%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.customer-reviews-section {
			.customer-reviews {
				.review {
					.img {
						height: 100px;
						width: 120px;
					}

					.content {
						padding: 0 1rem;

						h4 {
							font-size: 12px;
						}

						p {
							font-size: 10px;
							margin-bottom: 0.5rem;
						}
					}
				}
			}
		}
	}

	.about-page {
		.showcase-section {
			.img {
				height: 60vh;
			}
		}
		.about-content-section {
			background-color: $grey_color;
			color: $black_color;
			padding: 5rem 0;

			.content {
				align-items: center;
				justify-content: space-between;
				gap: 3rem;

				.img {
					width: 100%;
					height: 350px;
				}

				.about {
					padding: 0 0rem;
				}
			}
		}
	}

	.services-page {
		.showcase-section {
			.img {
				height: 60vh;
			}
		}
		.products-section {
			.products {
				.product-box {
					width: 150px;
					height: 150px;
				}
			}
		}
	}

	.contact-page {
		.showcase-section {
			.img {
				height: 60vh;
			}
		}
		.contact-section {
			.content {
				.boxes {
					gap: 1.5rem;
					.box {
						max-width: 100%;

						min-height: 200px;

						h4 {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
}
